@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a{
  color: black;
  text-decoration: none;
}
h1{
  font-size: 25px;
}
input{
  border: 1px solid black;
}
:root {
  font-family:  'Permanent Marker', cursive;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -------------------------Botao------------------------------ */
button {
  border-radius: 8px;
  background-color: gray;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  white-space: nowrap;
  color: var(--colorText-white);
  background-color: var(--background-black);
  border: 1px solid var(--colorText-white);
}

.butt:hover{
  color: var(--background-black);
  background-color: var(--colorText-white);
}
