/* -------------------------corpo------------------------------ */
.bodyNomes2p{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-black);
}

.interface{
    width: 50%;
    height: 70%;
    background-color: var(--background-2);
    border-radius: 32px;
}
/* -------------------------caixa------------------------------ */
.voltar{
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    color: var(--colorText-white);
    background-color: transparent;     
    border: 1px solid transparent; 
}
.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------Titulo------------------------------ */
.titulo{
    margin-top: 6%;
    margin-bottom: 8%;
}

#h1{
    color: var(--colorText-white);
    font-size: 50px;
    font-weight: 500;
}

/* --------------------Caixa de Input--------------------------- */
.container_Nomes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.div_Nomes{
    align-items: stretch;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
}

#h2{
    color: var(--colorText-white);
}

#imp{
    padding: 1%;
    border: 1px solid var(--colorText-white);
    border-radius: 16px;
} 





