@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

*{
  font-family: 'Pixelify Sans', sans-serif;
}

#bodyGame{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-black);
    color: var(--colorText-white);
}

.containerGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.game{
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
  }

.game button{
    margin: 8px;
    height: 20vh;
    width: 20vh;
    border: 1px solid var(--colorText-white);
    font-size: 6vh;
    color: var(--colorText-white);
    background-color: var(--background-black);
    border-radius: 2%;
    justify-content: center;
  }

  .botao{
    border: 2px solid var(--colorText-white);
    background-color: var(--background-black);
    color: var(--colorText-white);
    width: 28vh;
    margin: 2.8vh;
    transition: 0.3s;
    font-size: 2.8vh;
  }

  #restart{
    margin-bottom: 0;
  }

  #zerar{
    margin-bottom: 0;
  }

  .botao:hover{
    color: var(--background-black);
    background-color: var(--colorText-white);
    transform: scale(1.04);
  }