#bodySingleplayer{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;

  }

.singleplayer{
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
  
  }
.singleplayer button{
    margin: 2px;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    font-size: 50px;
  }